html, body{
  font-size   : 14px;
  font-family : sans-serif;
  height      : 100%;
}

div#container{
  position    : relative;
  height      : auto !important;
  min-height  : 100%;
  background  : black;
}


div.header{
  position    :sticky;
  top         :0px;
  height      :100px;
  background  :purple;
}

div.middle-content{

}

div.footer{
  position    : absolute;
  width       : 100%;
  bottom      : 0;
  background  : orange;
  height      : 100px;
}
